* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 2%;
    font-size: 150%;
}

#welcome-page {
    width: 50%;
    margin: 10% auto;
    text-align: center;
}

#welcome-page h1, p {
    margin-bottom: 5%;
}

#welcome-page p {
    font-weight: 900;
}

#welcome-page button {
    margin-top: 10px;
}

#start-button {
    background-color: rgb(60, 9, 107);
    color: rgb(228, 231, 198);
    padding: 1%;
    border-radius: 30px;
    font-size: 100%;
    font-weight: 900;
}