* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header ul {
    text-align: center;
    list-style-type: none;
    padding: 2%;
    font-size: 150%;
    display: flex;
    justify-content: space-around;
}


#stage {
    width: 50%;
    margin: 10% auto;
    text-align: center;
}

#stage h1, p {
    margin-bottom: 3%;
}

#stage p {
    font-weight: 900;
}

#stage button {
    margin-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px auto;
}

#start-button, #add-initials, #high-score, #go-back-button, #clear-button {
    background-color: rgb(60, 9, 107);
    color: rgb(228, 231, 198);
    padding: 1% 5%;
    border-radius: 10px;
    font-size: 90%;
    font-weight: 900;
}

.choiceBtn {
    background-color: rgb(107, 9, 9);
    color: rgb(228, 231, 198);
    padding: 2%;
    border-radius: 10px;
    font-size: 90%;
    font-weight: 900;
    width: 50%;
    margin: 2% auto;
}

/* shows which choice the user has selected */
.choiceBtn:focus {
    background-color: rgb(37, 104, 37);
}

form {
    padding: 4%;
}

/* styling the add initials button */

#add-initials {
    margin-left: 5%;
    font-weight: 900;
}

/* styling add initials input box */
#initials {
    width: 30%;
    padding: 1px;
    text-align: center;
    font-size: 100%;
    font-weight: 900;
}

/* styling the multiple choices */
.multiple-choices {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#high-scores {
    margin: 100px auto;
}

.high-score-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

